<div class="row" style="background-image: url('{{file}}img/logo-email.png'); background-repeat: no-repeat; background-size: contain; background-position: center;">

    <div class="col-xs-12">
        <h2 class="page-title">Admin Panel</h2>
    </div>

    <div class="col-xs-6">

        <h2>Website</h2>
        <a href="{{link}}en/admin/news">News</a>

        <h2>Competitors</h2>
        <a href="{{link}}en/admin/tshirts">T-shirts</a>
        <br>
        <a href="{{link}}en/admin/nonqualified">Non-qualified</a>

        <h2>Finances</h2>
        <a href="{{link}}en/admin/payments">Payments</a>
        <br>
        <a href="{{link}}en/admin/reimbursements">Reimbursements</a>

    </div>

    <div class="col-xs-6 text-right">

        <h2>Printings</h2>
        <a href="{{link}}en/admin/credentials" target="_blank">Credentials</a>
        <br>
        <a href="{{link}}en/admin/checkinlist" target="_blank">Check-in list</a>

        <h2>Exportation</h2>
        <a href="{{link}}en/admin/wcif">Export WCIF file</a>
        <br>
        <a href="{{link}}en/admin/csv">Export CSV file</a>

        <h2>Importation</h2>
        <a class="text-danger" href="{{link}}en/admin/import" target="_blank">Update WCA Rankings</a>

    </div>

</div>
<br>
