        <div class="row">
            <div class="col-md-12">

                <h2 class="page-title">News</h2>
                <a class="btn btn-success" href="{{link}}{{version-language}}/admin/news/add"><span class="glyphicon glyphicon-plus"></span> Add news...</a><br>
                <br>

                {{IF(news)}}

                <div class="table-responsive">
                    <table class="table table-condensed">
                    {{FOR(news)}}
                        <tr>
                            <td>{{date}}</td>
                            <td>{{name}}</td>
                            <td>{{title}}</td>
                            <td>&nbsp;
                                <a class="btn btn-info btn-xs" href="{{link}}{{version-language}}/admin/news/edit/{{id}}">
                                    <span class="glyphicon glyphicon-pencil"></span> Edit
                                </a>
                                &nbsp;
                            </td>
                            <td>&nbsp;
                                <a class="btn btn-danger btn-xs" href="{{link}}{{version-language}}/admin/news/delete/{{id}}">
                                    <span class="glyphicon glyphicon-remove"></span> Delete
                                </a>
                                &nbsp;
                            </td>
                        </tr>
                    {{ENDFOR()}}
                    </table>
                </div>

                {{ELSE()}}

                <p>
                    There is no news
                </p>

                {{ENDIF()}}

                <a class="btn btn-default" href="{{link}}{{version-language}}/admin">
                    <span class="glyphicon glyphicon-home"></span> Admin
                </a>

            </div>
        </div>
        <br>