<div class="parallax-container" style="height: 300px;">
    <div class="parallax"><img src="{{file}}img/madrid.jpg"></div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2><strong class="text-danger">Welcome</strong></h2>
        <h4><strong class="text-danger">to</strong> the candidacy website of <strong class="text-danger">Madrid</strong> for
            the <strong>European Rubik's Cube Championship <span class="text-danger">2018</span></strong>!</h4>
        <h5>The capital city of one of the most active countries in the world in WCA Official Competitions
            is ready to hold the most important event in Europe on 2018.</h5>
        <h5>The Spanish Community has grown in size and enthusiasm, in experience and in knowledge.</h5>
        <h5>And on 2018, <strong>we're ready to leave you breathless...</strong></h5>
    </div>
</div>

<div class="row bg-primary">
    <div class="col-xs-12 col-sm-2">
        <h3>Schedule</h3>
    </div>
    <div class="col-xs-12 col-sm-10">
        <br>
        <h5>Competition: <strong>July 19 - 22</strong></h5>
        <h5>Guests day: <strong>July 19</strong></h5>
        <h5>Community day: <strong>July 23</strong></h5>
        <br>
    </div>
</div>

<div class="parallax-container" style="height: 300px;">
    <div class="parallax"><img src="{{file}}img/schedule2.jpg"></div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-2">
        <h3><strong>Madrid, the city</strong></h3>
    </div>
    <div class="col-xs-12 col-md-10">
        <br>
        <span>
            <p>
            Madrid is one of the most interesting, touristic and well communicated capitals in Europe.
            The <a href="http://www.aeropuertomadrid-barajas.com/" target="_blank">Adolfo
            Suárez Madrid-Barajas Airport</a> has direct connections with a large number of cities
            around Europe and around the globe, and virtually any existing airline flies to the city.
            The airport has direct communication with the city center through a wide range of cheap
            transportation methods, including direct access to
            <a href="https://www.metromadrid.es/" target="_blank">Madrid Metro</a> (underground),
            <a href="http://www.renfe.com/EN/viajeros/cercanias/madrid/" target="_blank">trains</a> and
            <a href="http://www.emtmadrid.es/" target="_blank">buses</a>.
            </p>
            <p>[ VIDEO ]</p>
            <p>
                No matter what are your main interests, the touristic offer in Madrid is immense: don’t miss places
                like <strong>Puerta del Sol</strong> or <strong>Plaza Mayor</strong>, go shopping at the glamorous
                <strong>Gran Vía</strong> or chill in <strong>El Retiro</strong> park. Enjoy the amazing collection in
                <a href="https://www.museodelprado.es/" target="_blank">Museo del Prado</a> or just go wild in
                <a href="parquewarner.com" target="_blank">Parque Warner Madrid</a>.
            </p>


            <div class="carousel">
                <img class="carousel-item" src="{{file}}img/carousel1-1.jpg">
                <img class="carousel-item" src="{{file}}img/carousel1-2.jpg">
                <img class="carousel-item" src="{{file}}img/carousel1-3.jpg">
                <img class="carousel-item" src="{{file}}img/carousel1-4.jpg">
                <img class="carousel-item" src="{{file}}img/carousel1-5.jpg">
                <img class="carousel-item" src="{{file}}img/carousel1-6.jpg">
            </div>

            <p>
                Madrid is a large city with a huge offer in accommodation, starting from cheap apartments and
                reaching luxury hotels. Some offers near the venue are:
                <br><br>.............
            </p>

    </div>
</div>

<script>
    $(document).ready(function(){
        $('.parallax').parallax();
        $('.carousel').carousel();
    });
</script>