<div class="row">
    <div class="col-xs-12">
        <h2 class="page-title">Collaborators</h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <a href="https://www.cayro.es/en/" target="_blank"><img class="img-responsive" src="{{file}}img/collaborator-cayro.jpg" /></a>
    </div>
    <div class="col-xs-12 col-sm-9">
        <h2>Cayro the games</h2>
        <p>
            Cayro is a family company founded in 1954 and located in Dénia (Alicante).
            Cayro manufactures games and toys for all ages. The company, that sells more than
            350 products at about 2,500 stores in Spain, bets on the family games and the game
            as a tool for developing the abilities of children and adults.
            They closely follow the trends of the sector and invest lots in design and
            development.
        </p>
        <p>
            <a href="https://www.cayro.es/en/" target="_blank">Visit their website and check their unbelievable catalog</a>!
        </p>
    </div>
</div>
<br>

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <a href="https://kubekings.com/" target="_blank"><img class="img-responsive" src="{{file}}img/collaborator-kubekings.jpg" /></a>
    </div>
    <div class="col-xs-12 col-sm-9">
        <h2>Kubekings</h2>
        <p>
            Kubekings is a company specialized in cubes for speed and expert in speedcubing.
            Since 2013 they've been offering a wide catalog of cubes and puzzles,
            becoming the leader store in Europe. They are always up to date with the speedcubing
            novelties, and count with the best products. They ship to Europe, USA and some
            Latin American countries. Kubekings stands out for the quality of their products, their
            speedy deliveries, and the professionalism of their work.
        </p>
        <p>
            <a href="https://kubekings.com/" target="_blank">Visit your Rubik's cube online store</a>!
        </p>
    </div>
</div>
<br>

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <a href="https://finedesigns.com/" target="_blank"><img class="img-responsive" src="{{file}}img/collaborator-fine-designs.png" /></a>
    </div>
    <div class="col-xs-12 col-sm-9">
        <h2>Fine Designs</h2>
        <p>
            Fine Designs uses only the top-of-the-line equipment to print custom apparel onsite.
            With a wide variety of apparel merchandise, Fine Designs imprints custom event logos,
            decals, numbers, onsite at each event. Fine Designs is also an environmentally friendly
            company, creating a well working system of providing risk free apparel merchandise to
            any event without leftovers.
            They are passionate about making achievements memorable by allowing customers to personalize
            apparel right in front of their eyes.
        </p>
        <p>
            <a href="https://finedesigns.com/" target="_blank">Visit the website of the official apparel provider for WCA World Championship 2019</a>!
        </p>
    </div>
</div>
<br>

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <a href="https://www.mirada.tv/" target="_blank"><img class="img-responsive" src="{{file}}img/collaborator-mirada.jpg" /></a>
    </div>
    <div class="col-xs-12 col-sm-9">
        <h2>Mirada</h2>
        <p>
            Mirada is a leading provider of products and services to digital TV operators and broadcasters
            worldwide. Founded in 2000 by its CEO, José Luis Vázquez, Mirada prides itself on being a
            pioneer in the world of digital TV. Mirada’s core focus is to provide operators with the
            ultimate viewing experience, by offering an entire ecosystem of end-to-end products across
            multiple devices, delivered with a seamless and state-of-the-art UI. Mirada’s multiscreen
            technology has been deployed by some of the biggest names in the industry:
            Televisa, Telefonica, Sky, Virgin Media, BBC, ITV or France Telecom.
        </p>
        <p>
            Mirada comes to Euros seeking new talent to hire!
            <a href="https://www.mirada.tv/" target="_blank">Find out more about Mirada by visiting their website</a>!
        </p>
    </div>
</div>
<br>

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <a href="http://www.asociacionrubik.es/" target="_blank"><img class="img-responsive" src="{{file}}img/collaborator-aecr.jpg" /></a>
    </div>
    <div class="col-xs-12 col-sm-9">
        <h2>Spanish Rubik’s Cube Association</h2>
        <p>
            The Spanish Rubik’s Cube Association (AECR) was created in 2009 as a means to establish a
            Spanish community of active speedcubers. They currently provide equipment, assistance,
            and directions for holding WCA Competitions in Spain. They are the speedcubing reference in
            Spain for organizing official competitions, the most well known being the annual Spanish
            Championship.
        </p>
        <p>
            <a href="http://www.asociacionrubik.es/" target="_blank">Visit their website to learn more about them</a>!
        </p>
    </div>
</div>
<br>

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <a href="https://www.unedmadrid.es/" target="_blank"><img class="img-responsive" src="{{file}}img/collaborator-uned.png" /></a>
    </div>
    <div class="col-xs-12 col-sm-9">
        <h2>UNED Madrid</h2>
        <p>
            UNED's Madrid associated center is a consortium formed by Madrid’s town hall,
            Madrid's regional government and Spain’s distance education University (UNED).
            It's main mission is to make higher education more easily available to the people
            of our environment, strengthening professional and cultural development. Thanks to its 35+
            years of experience as a public University and it’s blended learning methodology,
            UNED Madrid adapts to everybody, managing to be everyone's University for everybody.
            UNED Madrid has 4 centers in the metropolitan area and 10 more in the province area.
            All of them provide services to students such as library, laboratories, teaching,
            administrative help, cultural activities, undergraduate courses, etc.
        </p>
        <p>
            Click the <a href="https://www.unedmadrid.es/" target="_blank">link to their web page</a> if you want to learn more.
        </p>
    </div>
</div>
<br>

<div class="row">
    <div class="col-xs-12">
        <h2>Other collaborators</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-3">
        <img class="img-responsive" src="{{file}}img/collaborator-fuente-primavera.jpg" />
    </div>
</div>
<br>

<div class="row wanna-collaborate-row">
    <div class="col-xs-12">
        <h2 class="page-title">Want to collaborate?</h2>
        <p>
            If you think your company or organization could collaborate with us in the
            <strong>WCA World Championship 2019</strong>, do not hesitate in
            <a href="{{link}}{{version-language}}/contact">contacting us</a>
            or <a href="https://drive.google.com/file/d/16FPtcODwVOQ4EgZ1WoXWTeSbL4vQ8iUs" target="_blank">downloading
            a collaboration dossier</a>.
        </p>
    </div>
</div>


<br>