<h1>Preguntas Más Frecuentes</h1>
<p>
    Muchas de las consultas que recibe la AECR están respondidas en nuestra sección de
    <a href="{{link}}pmf">Preguntas Más Frecuentes</a>.
    Por favor,
    consulta esta sección antes de ponerte en contacto con nosotros por algo que posiblemente ya esté respondido allí.
</p>

<h1>Contacto</h1>
<legend>Junta Directiva</legend>
<p>
    Puedes dirigirte a ellos para cualquier asunto relacionado con la Asociación.
</p>
<div class="row">
    <b class="col-xs-4 col-sm-2 text-right">Presidente</b>
        <div class="col-xs-8 col-sm-10">Javier Tirado Ortiz</div>
    <b class="col-xs-4 col-sm-2 text-right">Vicepresidente</b>
        <div class="col-xs-8 col-sm-10">Alexander Olleta del Molino</div>
    <b class="col-xs-4 col-sm-2 text-right">Secretaria</b>
        <div class="col-xs-8 col-sm-10">Elisabet Delgado Mas</div>
    <b class="col-xs-4 col-sm-2 text-right">Tesorero</b>
        <div class="col-xs-8 col-sm-10">Raúl Morales Hidalgo</div>
    <b class="col-xs-4 col-sm-2 text-right">Vocal</b>
        <div class="col-xs-8 col-sm-10">Alberto Masó Molina</div>
    <b class="col-xs-4 col-sm-2 text-right">Vocal</b>
        <div class="col-xs-8 col-sm-10">Alberto Pérez de Rada Fiol</div>
</div>
<br>
<legend>Delegados de la WCA</legend>
<p>
    Puedes dirigirte a ellos para asuntos relacionados con la celebración de campeonatos oficiales.
</p>
<div class="row">
    <b class="col-xs-4 col-sm-2 text-right">Zona centro</b>
        <div class="col-xs-8 col-sm-10">Alberto Pérez de Rada</div>
    <b class="col-xs-4 col-sm-2 text-right">Zona norte</b>
        <div class="col-xs-8 col-sm-10">Alexander Olleta</div>
    <b class="col-xs-4 col-sm-2 text-right">Zona levante</b>
        <div class="col-xs-8 col-sm-10">Javier Tirado</div>
    <b class="col-xs-4 col-sm-2 text-right">Zona sur</b>
        <div class="col-xs-8 col-sm-10">Luis J. Iáñez</div>
</div>
<br>
<legend>Formulario de Contacto</legend>
<p>
    Utiliza este formulario para ponerte en contato con la Junta para asuntos relacionados con la Asociación
    o con los delegados para asuntos relacionados con organización de campeonatos oficiales.
</p>
{{form|raw}}