<h1>Contratación de Eventos</h1>
<div class="row">

    <div class="col-xs-12 col-sm-8">
        <legend>Tótem de moda</legend>
        <p>
            El <strong>Cubo de Rubik</strong> es el <em>tótem</em> de moda en los eventos y espectáculos. Chavales que lo resuelven
            en torno a los 10 segundos, en torno a los 15 con una sola mano, o en menos de un minuto a la ciega. Asombro y prestigio
            que usted puede asociar a la marca de su empresa por mucho menos de lo que imagina.
        </p>
        <blockquote class="well-lg text-danger"><strong>Lucas Benito</strong> hace una exhibición
            de resolución a la ciega para las
            cámaras de <strong>Antena 3</strong> en un Campeonato Nacional.</blockquote>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/j7VbrJP6yGc" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        &nbsp;
    </div>
    <div class="hidden-xs col-sm-4">
        <img class="img-responsive" src="{{file}}img/mosaico.jpeg">
    </div>
    <div class="col-xs-12 col-sm-8">
        <legend>Mosaicos Gigantes</legend>
        <p>
            Uno de los aspectos más atractivos del <strong>Cubo de Rubik</strong> queda de manifiesto en la construcción de mosaicos.
            Pocas cosas pueden detener la atención en la proximidad de su tienda o escaparate más allá de lo que lo hacen estos mosaicos,
            auténticas obras de arte.
        </p>
        <blockquote class="well-lg text-danger">El mosaico 3D más grande del mundo: <strong>4.444 Cubos de Rubik</strong> por
            <strong>Ernesto Fernández Regueira</strong> para un museo.</blockquote>
    </div>
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
        <img class="img-responsive" src="{{file}}img/mosaico.jpeg">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        &nbsp;
    </div>
    <div class="col-xs-12 col-sm-8">
        <legend>Campeonatos Oficiales</legend>
        <p>
            Una opción no menos interesante son los <strong>campeonatos oficiales</strong>. La comunidad cubera española viene
            celebrando de media un campeonato al mes en distintas ciudades. De entre los campeonatos destacan los
            <strong>Campeonatos Nacionales</strong>, que se celebran una vez al año.
        </p>
        <blockquote class="well-lg text-danger">Vídeo promocional del <strong>Campeonato Nacional 2013</strong>
            celebrado dentro del <strong>Arnold Classic</strong>. La afluencia de público se calcula en torno a los 40.000 espectadores
            a lo largo de los tres días que duró.</blockquote>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BBGjbQ006C8" allowfullscreen></iframe>
        </div>
    </div>
</div>