<div class="row bg-dark">
    <br>
    <div class="hidden-xs col-md-3">
    </div>
    <div class="col-xs-12 col-md-9">
        <p>
            Sure you know this feeling: you're on your way back home after several days of intense
            competition, and you think that, with all the stress, you didn't have time to
            chat calmly with other cubers.
        </p>
        <p>
            This will not happen to you in WCA World Championship 2019 because we have the <strong>Fun Day</strong>!
        </p>
    </div>
</div>

<div class="row bg-dark ">
    <div class="col-xs-12 col-md-3">
        <h2>July 23</h2>
    </div>
    <div class="col-xs-12 col-md-9">
        <h2 class="page-title">Fun Day</h2>
        <p>
            The next Monday to the competition we will be in
            <a href="https://www.parquedeatracciones.es/" target="_blank">Parque de Atracciones Madrid</a>,
            (<em>Madrid Theme Park</em>)
            located inside the Casa de Campo, only 15 minutes away walking from the competition venue.
        </p>
        <div class="col-xs-12 col-md-6" style="padding: 10px 20px 10px 0">
            <img src="{{file}}img/parque-atracciones-madrid.jpg" class="img-responsive" />
        </div>
        <div class="col-xs-12 col-md-6" style="padding-left: 0">
            <p>
                In the park there are many attractions to enjoy together, many shows to watch,
                and lots of places where to chat calmly.
            </p>
            <p>
                In case you still don't know, <strong>the summer in Spain is hooooot and sunny</strong>.
                Come prepared: bring cap and sunscreen, and prepare to hydrate continuously
            </p>
        </div>
    </div>
</div>

<div class="row bg-dark">
    <div class="col-xs-12 col-md-3">
        <h2>Plans</h2>
    </div>
    <div class="col-xs-12 col-md-9">
        <p>
            Quite a simple plan, actually: we will meet at the entrance before the opening
            to enter like a group at a reduced price (<strong>€18,50</strong> for adults
            <a href="https://www.parquedeatracciones.es/en/prices" target="_blank">+info about
            prices</a>) and after that there are no more plans than hanging out with your friends.
            The park opens from noon to midnight.
        </p>
        <p>
            You will have more details later in your email and in
            <a href="{{link}}en/myworlds/access">myWorlds</a>.
        </p>
    </div>
</div>

<div class="row bg-dark">
    <div class="col-xs-12 col-md-3">
        <h2>How to arrive</h2>
    </div>
    <div class="col-xs-12 col-md-9">
        <p>
            Arriving can't be easier:
            the <span class="label metro-stop">Batán</span> metro stop of
            <span class="label label-primary">Línea 10</span> leaves you at the park entrance.
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6075.614467251084!2d-3.7553527319273265!3d40.413120979264214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418807f9cfec3b%3A0x6217201a6cf293ca!2sParque+de+Atracciones+de+Madrid!5e0!3m2!1ses!2ses!4v1521580149968" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        <p>
            You can't miss the funniest day of <strong>WCA World Championship 2019</strong>!
            <br><br>
        </p>
    </div>
</div>
