<div class="row">
    <div class="col-xs-12">
        <h2 class="page-title">Koalafication Competitions</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-2">
        <a href="#" target="_blank">
            <picture>
                <source media="(min-width: 576px)" srcset="/img/KubingKoala.png" style="width:600px;">
                <img src="/img/koala.png" style="width:65%; margin-top: 30px; margin-bottom: 30px; margin-left:auto; margin-right:auto; display:block;"/>
            </picture>
        </a>
        <br>
    </div>
    <div class="col-xs-12 col-sm-10">
        <br>  
        <p>Speedcubing Australia and the Kubing Koala are running a series of Koalafication competitions around the country in order to allow local competitors to <b>Koalify!</b> for the Rubik's presents WCA World Championship 2019.

<p>For more information about these competitions and to register to compete, please visit the competition pages below.</p>

<p>Registration spots are limited, so be sure to get in quick!</p>
</p>
        <br>
<!--        <ul>
            <li>Blah blah</li>
            <li>Etc</li>
            <li>More info</li>
        </ul> -->
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Koalafication Events</h2>
        <div class="table-responsive">
            <table class="table">
                 <thead>
                     <tr>
                         <th scope="col">Date</th>
                         <th scope="col">Name</th>
                         <th scope="col">Location</th>
                         <th scope="col">Venue</th>
                         <th scope="col">Events</th>
                     </tr>
                 </thead>
                 <tbody>
		     <tr>
                         <th scope="row">Mar 16 - 17, 2019</th>
                         <td><a target="_blank" href="https://www.worldcubeassociation.org/competitions/KoalaficationSydney2019">Koalafication Sydney 2019</a></td>
                         <td>Sydney, New South Wales</td>
                         <td>Turrmurra High School</td>
                         <td>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Cube" class=" cubing-icon icon-333"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="2x2x2 Cube" class=" cubing-icon icon-222"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Cube" class=" cubing-icon icon-444"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="5x5x5 Cube" class=" cubing-icon icon-555"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="6x6x6 Cube" class=" cubing-icon icon-666"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="7x7x7 Cube" class=" cubing-icon icon-777"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Blindfolded" class=" cubing-icon icon-333bf"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Fewest Moves" class=" cubing-icon icon-333fm"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 One-Handed" class=" cubing-icon icon-333oh"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Pyraminx" class=" cubing-icon icon-pyram"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Skewb" class=" cubing-icon icon-skewb"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Blindfolded" class=" cubing-icon icon-444bf"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="5x5x5 Blindfolded" class=" cubing-icon icon-555bf"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Multi-Blind" class=" cubing-icon icon-333mbf"></span>
                         </td>
                     </tr>
                     <tr>
                         <th scope="row">Apr 6 - 7, 2019</th>
                         <td><a target="_blank" href="https://www.worldcubeassociation.org/competitions/KoalaficationBrisbane2019">Koalafication Brisbane 2019</a></td>
                         <td>Brisbane, Queensland</td>
                         <td>Northside Christian College</td>
                         <td>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Cube" class=" cubing-icon icon-333"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="2x2x2 Cube" class=" cubing-icon icon-222"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Cube" class=" cubing-icon icon-444"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="5x5x5 Cube" class=" cubing-icon icon-555"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="6x6x6 Cube" class=" cubing-icon icon-666"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="7x7x7 Cube" class=" cubing-icon icon-777"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Blindfolded" class=" cubing-icon icon-333bf"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Fewest Moves" class=" cubing-icon icon-333fm"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 One-Handed" class=" cubing-icon icon-333oh"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Megaminx" class=" cubing-icon icon-minx"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Pyraminx" class=" cubing-icon icon-pyram"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Skewb" class=" cubing-icon icon-skewb"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Square-1" class=" cubing-icon icon-sq1"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Blindfolded" class=" cubing-icon icon-444bf"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="5x5x5 Blindfolded" class=" cubing-icon icon-555bf"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Multi-Blind" class=" cubing-icon icon-333mbf"></span>
                         </td>
                     </tr>
                     <tr>
                         <th scope="row">Apr 13 - 14, 2019</th>
                         <td><a target="_blank" href="https://www.worldcubeassociation.org/competitions/KoalaficationCanberra2019">Koalafication Canberra 2019</a></td>
                         <td>Canberra, A.C.T.</td>
                         <td>Gungahlin Lakes Club</td>
                         <td>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Cube" class=" cubing-icon icon-333"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Cube" class=" cubing-icon icon-444"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="5x5x5 Cube" class=" cubing-icon icon-555"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Blindfolded" class=" cubing-icon icon-333bf"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Fewest Moves" class=" cubing-icon icon-333fm"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 One-Handed" class=" cubing-icon icon-333oh"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 With Feet" class=" cubing-icon icon-333ft"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Skewb" class=" cubing-icon icon-skewb"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Square-1" class=" cubing-icon icon-sq1"></span>
                         </td>
                      </tr>
                      <tr>
                          <th scope="row">May 4 2019</th>
                          <td><a target="_blank" href="https://www.worldcubeassociation.org/competitions/KoalaficationAdelaide2019">Koalafication Adelaide 2019</a></td>
                          <td>Adelaide, South Australia</td>
                          <td>Westminster School</td>
                          <td>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Cube" class=" cubing-icon icon-333"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Cube" class=" cubing-icon icon-444"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="5x5x5 Cube" class=" cubing-icon icon-555"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="7x7x7 Cube" class=" cubing-icon icon-777"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Blindfolded" class=" cubing-icon icon-333bf"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 One-Handed" class=" cubing-icon icon-333oh"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="Pyraminx" class=" cubing-icon icon-pyram"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Blindfolded" class=" cubing-icon icon-444bf"></span>
                         </td>
                     </tr>
                     <tr>
                         <th scope="row">May 18 - 19, 2019</th>
                         <td><a target="_blank" href="https://www.worldcubeassociation.org/competitions/KoalaficationMelbourne2019">Koalafication Melbourne 2019</a></td>
                         <td>Melbourne, Victoria</td>
                         <td>Mount St Josephs Girls College</td>
                         <td>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Cube" class=" cubing-icon icon-333"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="2x2x2 Cube" class=" cubing-icon icon-222"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Cube" class=" cubing-icon icon-444"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="5x5x5 Cube" class=" cubing-icon icon-555"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="6x6x6 Cube" class=" cubing-icon icon-666"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="7x7x7 Cube" class=" cubing-icon icon-777"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Blindfolded" class=" cubing-icon icon-333bf"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 One-Handed" class=" cubing-icon icon-333oh"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Clock" class=" cubing-icon icon-clock"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Megaminx" class=" cubing-icon icon-minx"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Pyraminx" class=" cubing-icon icon-pyram"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Skewb" class=" cubing-icon icon-skewb"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Square-1" class=" cubing-icon icon-sq1"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Blindfolded" class=" cubing-icon icon-444bf"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="5x5x5 Blindfolded" class=" cubing-icon icon-555bf"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Multi-Blind" class=" cubing-icon icon-333mbf"></span>
                         </td>
                      </tr>
 		      <tr>
			  <th scope="row">May 25 - 26, 2019</th>
                          <td><a target="_blank" href="https://www.worldcubeassociation.org/competitions/KoalaficationPalmy2019">Koalafication Palmy 2019</a></td>
                          <td>Palmerston North, New Zealand</td>
                          <td>Community Leisure Centre</td>
                          <td>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Cube" class=" cubing-icon icon-333"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Cube" class=" cubing-icon icon-444"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="5x5x5 Cube" class=" cubing-icon icon-555"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="6x6x6 Cube" class=" cubing-icon icon-666"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="7x7x7 Cube" class=" cubing-icon icon-777"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Blindfolded" class=" cubing-icon icon-333bf"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 With Feet" class=" cubing-icon icon-333ft"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="Clock" class=" cubing-icon icon-clock"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="Megaminx" class=" cubing-icon icon-minx"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="Square-1" class=" cubing-icon icon-sq1"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Blindfolded" class=" cubing-icon icon-444bf"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="5x5x5 Blindfolded" class=" cubing-icon icon-555bf"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Multi-Blind" class=" cubing-icon icon-333mbf"></span>
                          </td>
                      </tr>
                      <tr>
                          <th scope="row">May 25 - 26, 2019</th>
                          <td><a target="_blank" href="https://www.worldcubeassociation.org/competitions/koalaficationperth2019">Koalafication Perth 2019</a></td>
                          <td>Perth, Western Australia</td>
                          <td>Woodvale Secondary College</td>
                          <td>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Cube" class=" cubing-icon icon-333"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="2x2x2 Cube" class=" cubing-icon icon-222"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Cube" class=" cubing-icon icon-444"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="5x5x5 Cube" class=" cubing-icon icon-555"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="6x6x6 Cube" class=" cubing-icon icon-666"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="7x7x7 Cube" class=" cubing-icon icon-777"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Blindfolded" class=" cubing-icon icon-333bf"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 One-Handed" class=" cubing-icon icon-333oh"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="Megaminx" class=" cubing-icon icon-minx"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="Pyraminx" class=" cubing-icon icon-pyram"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="Skewb" class=" cubing-icon icon-skewb"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="Square-1" class=" cubing-icon icon-sq1"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Multi-Blind" class=" cubing-icon icon-333mbf"></span>
                          </td>
                          </tr>
                         </td>
                     </tr>
                 </tbody>
            </table>
        </div>
    </div>
</div>
