<div class="row">
    <div class="col-xs-12">
        <h2 class="page-title">Lodging</h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>Hostels</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>Youth Hostel Richard Schirrmann</h3>
        <p>
            <span class="label label-danger">#nature</span>
            <span class="label label-danger">#lowcost</span>
            <span class="label label-danger">#connection</span>
        </p>
    </div>
    <div class="col-xs-12 col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.717529247889!2d-3.74731802381935!3d40.41510799870401!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4187ff03f018ef%3A0x7814de0b63008c97!2sYouth+Hostel+Richard+Schirrmann!5e0!3m2!1sen!2ses!4v1519233279600" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12 col-md-6">
        <p>
            <strong>Address</strong>: Casa de Campo, s/n - 28011 Madrid
        </p>
        <p>
            <strong>Info</strong>: It's the cheapest option, far from the noise of the city and surrounded by
            nature. It's also the closest hostel to the Glass Pavilion in the city, something that will allow
            you to skip using the public transport.
        </p>
        <p>
            <strong>Web</strong>: <a href="http://www.madrid.org/cs/Satellite?c=JUVE_Alojamiento_FA&cid=1142322438952&pageid=1142338257949&pagename=PortalJoven/JUVE_Alojamiento_FA/JUVE_alojamiento" target="_blank">www.madrid.org</a>
        </p>
        <p>
            <strong>Booking</strong>: <a href="mailto:reservas@madrid.org">reservas@madrid.org</a>
        </p>
    </div>
    <div class="col-xs-12">
        <p>
            <strong>Fees:</strong>
        </p>
        <ul class="ul">
            <li>
                < 25 year old: 14€/person and night, bed and breakfast
            </li>
            <li>
                25-30 year old: 15.40€/person and night, bed and breakfast
            </li>
            <li>
                > 30 year old: 19.80€/person and night, bed and breakfast
            </li>
        </ul>
        <p>
            <strong>Connection to WCA World Championship 2019</strong>:
        </p>
        <ul class="ul">
            <li>
                Best option: walking (~25 minutes)
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h3>Hostel Meeting Point</h3>
        <p>
            <span class="label label-danger">#tourism</span>
            <span class="label label-danger">#leisure</span>
            <span class="label label-danger">#pricequality</span>
        </p>
    </div>
    <div class="col-xs-12 col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.6842120420706!2d-3.71484504935818!3d40.415845979263935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422879da500907%3A0x57a05e51ad34124b!2sHostel+Meeting+Point+Madrid!5e0!3m2!1sen!2ses!4v1519236076630" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12 col-md-6">
        <p>
            <strong>Address</strong>: Calle Factor, 5 - 28013 Madrid
        </p>
        <p>
            <strong>Info</strong>: Located in front of Palacio Real and Catedral de la Almudena.
            If you want to get the most of your free time to visit the city center and its main historic 
            monuments, this is your best located and cheaper option. Less than 25 minutes by public transport
            from the WCA World Championship 2019.
        </p>
        <p>
            <strong>Web and Booking</strong>: <a href="http://www.hostelsmeetingpointmadrid.es/" target="_blank">www.hostelsmeetingpointmadrid.es/</a>
        </p>
    </div>
    <div class="col-xs-12">
        <p>
            <strong>Connection to WCA World Championship 2019</strong>:
        </p>
        <ul class="ul">
            <li>
                <a href="https://goo.gl/maps/EKxw4BBnHLm" target="_blank">1<sup>st</sup> option</a>
                (~10 minutes, 7 stops + 14 minutes walk): bus <span class="label label-default">EMT 31</span>
            </li>
            <li>
                <a href="https://goo.gl/maps/TLUffrhfL7D2" target="_blank">2<sup>nd</sup> option</a>
                (~13 minutes, 2 stops + 12 minutes walk): Metro
                <span class="label label-default">Ramal</span> from <span class="label metro-stop">Ópera</span>
                to <span class="label metro-stop">Príncipe Pío</span> and then
                <span class="label label-primary">Línea 10</span> to <span class="label metro-stop">Lago</span>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h3>Mola Hostel</h3>
        <p>
            <span class="label label-danger">#tourism</span>
            <span class="label label-danger">#party</span>
            <span class="label label-danger">#pricequality</span>
        </p>
    </div>
    <div class="col-xs-12 col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.7586804232146!2d-3.706048449358234!3d40.414196479264184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42287fc21411d9%3A0x1fddedbd3fdbeec2!2sMola*21+Hostel!5e0!3m2!1sen!2ses!4v1519311297688" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12 col-md-6">
        <p>
            <strong>Address</strong>: Calle de Atocha, 16 - 28012 Madrid
        </p>
        <p>
            <strong>Info</strong>: Alike the Meeting Point hostel, The Mola hostel is another economic option
            to accommodate groups in the city center. Only a few minutes from from Plaza Mayor and Puerta del Sol,
            and also near other main touristy attractions in the city. In the neighborhood of the Letters,
            the party nights in the mythical Huertas street are more than assured!
        </p>
        <p>
            <strong>Web</strong>: <a href="http://www.molahostel.com/" target="_blank">www.molahostel.com</a>
        </p>
        <p>
            <strong>Booking</strong>: <a href="mailto:groups@molahostel.com">groups@molahostel.com</a>
        </p>
    </div>
    <div class="col-xs-12">
        <p>
            <strong>Fees</strong>:
        </p>
        <p>
            Special offer for the WCA World Championship 2019 only.
            Make sure to mention the offer in your booking email!
            Fees for single beds in 8-person rooms. Fee per person and day is:
        </p>
        <ul class="ul">
            <li>
                July 18: €25
            </li>
            <li>
                July 19: €25
            </li>
            <li>
                July 20: €23
            </li>
            <li>
                July 21: €23
            </li>
        </ul>
        <p>
            Only bed.
            Changes or cancellations are not allowed.
            Add breakfast for €5 per person and day.
        </p>
    </div>
    <div class="col-xs-12">
        <p>
            <strong>Connection to WCA World Championship 2019</strong>:
        </p>
        <ul class="ul">
            <li>
                <a href="https://goo.gl/maps/XZ5mUqo3ACH2" target="_blank">1<sup>st</sup> option</a>
                (~22 minutes + 10 minutes walk): Metro
                <span class="label label-info">Línea 1</span> from <span class="label metro-stop">Tirso de Molina</span>
                to <span class="label metro-stop">Tribunal</span>, and then
                <span class="label label-primary">Línea 10</span> to <span class="label metro-stop">Lago</span>
            </li>
            <li>
                <a href="https://goo.gl/maps/nBffqoAPqUq" target="_blank">2<sup>nd</sup> option</a>
                (~20 minutes + 12 minutes walk):
                bus <span class="label label-default">EMT 31</span>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h3>Hostel Era Alonso Martínez</h3>
        <p>
            <span class="label label-danger">#party</span>
            <span class="label label-danger">#pricequality</span>
            <span class="label label-danger">#connection</span>
        </p>
    </div>
    <div class="col-xs-12 col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6074.301837393099!2d-3.703027731926725!3d40.427656979262636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4228895b2cc3cf%3A0x68bc96f3c37c91aa!2sHostel+Era+Alonso+Martinez!5e0!3m2!1sen!2ses!4v1519312576543" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12 col-md-6">
        <p>
            <strong>Address</strong>: Calle de Serrano Anguita, 11 - 28004 Madrid
        </p>
        <p>
            <strong>Info</strong>: Located next to the historic district of Malasaña, famous for its many typical
            bars, restaurants, shops, and markets. It's the best option to combine culture, party, and
            speedcubing with friends. Only 20 minutes by public transport from the WCA World Championship 2019!
        </p>
        <p>
            <strong>Web and Bookings</strong>: <a href="http://www.hostelera.es/es/hostel-era-alonso-martinez" target="_blank">www.hostelera.es</a>
        </p>
    </div>
    <div class="col-xs-12">
        <p>
            <strong>Connection to WCA World Championship 2019</strong>:
        </p>
        <ul class="ul">
            <li>
                <a href="https://goo.gl/maps/AZRymciewNR2" target="_blank">Best option</a>:
                (~10 minutes, 4 stops + 12 minutes walk): Metro
                <span class="label label-primary">Línea 10</span> from
                <span class="label metro-stop">Alonso Martínez</span> to
                <span class="label metro-stop">Lago</span>
            </li>
        </ul>
    </div>
</div>

<div class="row bg-info">
    <div class="col-xs-12">
        <p>
            <br>
            <span class="glyphicon glyphicon-heart-empty hotel-glyph"></span> We have selected those hostels
            for their easy connections with the Glass Pavilion aiming to offering different possibilities
            with affordable prices to visitors with different interests: tourism, party, nature...
            All of them offer really cheap accommodation in the center of Madrid. We highly recommend the options
            above if you are attending WCA World Championship 2019 with friends. More hostels in
            <a href="https://www.spanish.hostelworld.com/" target="_blank">www.spanish.hostelworld.com</a>.
        </p>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>Hotels</h2>
        <h3>Hotel NH Ribera del Manzanares</h3>
        <p>
            <span class="label label-danger">#nature</span>
            <span class="label label-danger">#tourism</span>
            <span class="label label-danger">#gastronomy</span>
        </p>
    </div>
    <div class="col-xs-12 col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6076.228747696528!2d-3.7259370319276317!3d40.40631697926502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4227ddde6391f7%3A0xff49efd37c158243!2sHotel+NH+Madrid+Ribera+del+Manzanares!5e0!3m2!1sen!2ses!4v1519314824958" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12 col-md-6">
        <p>
            <strong>Address</strong>: Paseo de la Virgen del Puerto, 57 - 28005 Madrid
        </p>
        <p>
            <strong>Info</strong>: Should you prefer a hotel, one of our recommendations is the NH Ribera del Manzanares.
            Located next to the Madrid Río park, it's a quiet option, and at the same time it's well connected to the
            WCA World Championship 2019 and the city center.
        </p>
        <p>
            <strong>Web and Bookings</strong>: <a href="https://www.nh-hoteles.es/hotel/nh-madrid-ribera-del-manzanares" target="_blank">www.nh-hoteles.es</a>
        </p>
    </div>
    <div class="col-xs-12">
        <p>
            <strong>Connection to WCA World Championship 2019</strong>:
        </p>
        <ul class="ul">
            <li>
                <a href="https://goo.gl/maps/DoV8ytemrmQ2" target="_blank">Best option</a>:
                (~10 minutes, 1 stop + 22 minutes walk): Metro
                <span class="label label-default">Línea 6</span> from
                <span class="label metro-stop">Puerta del Ángel</span> to
                <span class="label metro-stop">Alto de Extremadura</span>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h3>Hotel City House Florida Norte</h3>
        <p>
            <span class="label label-danger">#tourism</span>
            <span class="label label-danger">#connection</span>
            <span class="label label-danger">#gastronomy</span>
        </p>
    </div>
    <div class="col-xs-12 col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6074.903748756336!2d-3.7256607319270874!3d40.420991979263405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422872f2578a9d%3A0xe159f104fc9e9cbf!2sHotel+City+House+Florida+Norte!5e0!3m2!1sen!2ses!4v1519318673893" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12 col-md-6">
        <p>
            <strong>Address</strong>: Paseo de la Florida, 5 - 28008 Madrid
        </p>
        <p>
            <strong>Info</strong>: It's the alternative to NH Ribera del Manzanares. It offers an optimal location
            to move between the WCA World Championship 2019 and the city center.
        </p>
        <p>
            <strong>Web and Bookings</strong>: <a href="https://www.hotelfloridanorte.com/" target="_blank">www.hotelfloridanorte.com</a>
        </p>
    </div>
    <div class="col-xs-12">
        <p>
            <strong>Connection to WCA World Championship 2019</strong>:
        </p>
        <ul class="ul">
            <li>
                <a href="https://goo.gl/maps/KAyGv8HAZNQ2" target="_blank">Best option</a>:
                (~5 minutes + 10 minutes walk): Metro
                <span class="label label-primary">Línea 10</span> from
                <span class="label metro-stop">Príncipe Pío</span> to
                <span class="label metro-stop">Lago</span>
            </li>
        </ul>
    </div>
</div>

<br>