<div class="row">

    <div class="col-xs-12">
        <h2 class="page-title">Accessing myWorlds</h2>
        <p>
            <strong>myWorlds</strong> is a private page inside the WCA World Championship 2019 website where you will be
            allowed to control everything related to your attendance to this competition.
            The access to myWorlds is done with <strong>WCA identification</strong> and is <strong>secure</strong>.
        </p>
        <p>
            In order to identify yourself, we will be using your account from the
            <a href="https://www.worldcubeassociation.org" target="_blank"><strong>WCA website</strong></a>.
            If you already
            know about the WCA website, you already have a <strong>user account</strong> in the WCA
            website, and you already have your <strong>WCA ID associated</strong> to your account,
            then you can skip the following instructions, go down to the bottom of
            this page and access myWorlds now. But if you are unsure, please continue
            reading.
        </p>

    </div>

    <div class="col-xs-12">
        <h3>Get a WCA user account</h3>
    </div>

    <div class="col-xs-12 col-lg-6">
        <p>
            First, let's make clear the difference between a <strong>WCA account</strong> and a
            <strong>WCA profile</strong>. Everyone who has ever competed in a WCA competition has a
            WCA profile in which their official results and rankings are shown. But
            it's not the WCA profile that you need in order to gain access to myWorlds!
        </p>
        <p>
            Instead, you need a <strong>WCA account</strong>. The credentials for a WCA account are your email address and your password.
            If you don't have a WCA account yet,
            <a href="https://www.worldcubeassociation.org/users/sign_up" target="_blank"><strong>sign up for one now</strong></a>.
        </p>
        <p>
            The sign up process clearly distinguishes users that
            have already competed (and have a WCA ID) and users who have never
            competed. If you have competed and you already have a WCA ID, make sure
            you sign up with it.
        </p>
    </div>
    <div class="col-xs-12 col-lg-6">
        <img class="img-responsive" src="{{file}}img/wca_sign_up_en.png" />
    </div>

    <div class="col-xs-12">
        <h3>Claim your WCA ID</h3>
    </div>
    <div class="col-xs-12 col-lg-6">
        <p>
            If you already have a WCA account and you have a WCA profile (that is,
            you have competed before and hence you have a WCA ID), make sure your
            WCA ID and your WCA account are linked by
            <a href="https://www.worldcubeassociation.org/profile/claim_wca_id" target="_blank"><strong>claiming your WCA ID</strong></a>.
        </p>
        <p>
            While it's not mandatory to have a WCA ID for accessing myWorlds, it's
            crucial for us to know your WCA ID if you have one. So, if WCA World Championship 2019
            is not your first competition, make sure you are providing the correct
            WCA ID for you before the competition dates.
        </p>
    </div>
    <div class="col-xs-12 col-lg-6">
        <img class="img-responsive" src="{{file}}img/wca_claim_id_en.png" />
    </div>

    <div class="col-xs-12">
        <h3>Grant us permissions</h3>
    </div>
    <div class="col-xs-12 col-lg-6">
        <p>
            The last step is taken just after you hit the button below. You will be
            prompted about authorizing us to get access to your WCA account details.
        </p>
        <p>
            We are never provided with your personal password, so you can
            confidently grant us permission. We will only have access to
            your details as a competitor and strictly nothing else, and we will treat that
            information confidently.
        </p>
    </div>
    <div class="col-xs-12 col-lg-6">
        <img class="img-responsive" src="{{file}}img/wca_authorize_en.png" />
    </div>

    <div class="col-xs-12">
        <a class="btn btn-primary col-xs-12" href="{{link}}{{version-language}}/myworlds">Take me to <strong>myWorlds</strong>!</a>
    </div>

</div>
<br>
