<div class="row">
    <div class="col-xs-12">
        <h2 class="page-title">Rubik's Nations Cup 2019</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-2">
        <a href="#" target="_blank">
            <picture>
                <source media="(min-width: 576px)" srcset="/img/ncupLogo.jpg" style="width:600px;">
                <img src="/img/ncupLogo.jpg" style="width:100%; margin-top: 30px; margin-bottom: 30px; margin-left:auto; margin-right:auto; display:block;"/>
            </picture>
        </a>
        <br>
    </div>
    <div class="col-xs-12 col-sm-10">
        <br>  
        <p>
	The World Rubik’s Cube Championship 2017 hosted the inaugural Rubik’s Nations Cup, an event based on teams of three competitors from the same country. This unofficial event will be held again at the Rubik’s presents WCA World Championship 2019, on Saturday evening.
	</p>
	<p>
	The event is a 3 cube relay knockout tournament. This year, the top 32 registered teams based on sum of official WCA 3x3 average will be selected to participate, up to a maximum of 3 teams per country. Each team must consist of three competitors from the same country.
	</p>
	<p>
	To register your team, please do so using <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdPHNbaMV-yfprSQw6_HCv_iTcEYhdUw-g4wVSZtQV5VFwPlw/viewform">this form</a> before the 29th of May.</p>

</div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h3><b>Further Information</b></h3>
    </div>
<div class="row">
    <div class="col-xs-12">
        <h4><b>Qualification</b></h4>
    </div>
        
        <ul>
            <li>The top 32 registered teams will be selected to participate in this competition, based on the sum of the fastest official WCA 3x3 average of each competitor, up to a maximum of 3 teams per country.</li>
            <li>The qualification date is May 29th, 2019.</li>
        </ul>
</div>

<div class="row">
      <div class="col-xs-12">
          <h4><b>Format</b></h4>
      </div>
 
          <ul>
             <li>The competition format is a simple 32 team seeded knockout tournament.</li>
             <li>Each competitor will solve a single 3x3 cube, one after another. The winning team is determined by the fastest total time.</li>
             <li>Competitors will all be given 15 seconds of inspection time at the beginning of the attempt.</li>
	     <li>Standard WCA penalties (e.g. misalignment, timer stops/starts) apply for the solves.</li>
	     <li>Further information regarding timing of the attempt and transitions between teammates’ solves will be finalised shortly.</li>
         </ul>
</div>

<div class="row">
    <div class="col-xs-12">
        <h4><b>Other</b></h4>
    </div>
         <ul>
            <li>This is an unofficial team event, no results will be stored in the WCA database.</li>
            <li>As this is an experimental format, the judges for this event may exercise discretion in the case of disagreements and rule interpretation and their decision will be final.</li>
         </ul>
</div>

<!--

<div class="row">
    <div class="col-xs-12">
        <h2>Koalafication Events</h2>
        <div class="table-responsive">
            <table class="table">
                 <thead>
                     <tr>
                         <th scope="col">Date</th>
                         <th scope="col">Name</th>
                         <th scope="col">Location</th>
                         <th scope="col">Venue</th>
                         <th scope="col">Events</th>
                     </tr>
                 </thead>
                 <tbody>
		     <tr>
                         <th scope="row">Mar 16 - 17, 2019</th>
                         <td><a target="_blank" href="https://www.worldcubeassociation.org/competitions/KoalaficationSydney2019">Koalafication Sydney 2019</a></td>
                         <td>Sydney, New South Wales</td>
                         <td>Turrmurra High School</td>
                         <td>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Cube" class=" cubing-icon icon-333"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="2x2x2 Cube" class=" cubing-icon icon-222"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Cube" class=" cubing-icon icon-444"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="5x5x5 Cube" class=" cubing-icon icon-555"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="6x6x6 Cube" class=" cubing-icon icon-666"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="7x7x7 Cube" class=" cubing-icon icon-777"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Blindfolded" class=" cubing-icon icon-333bf"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Fewest Moves" class=" cubing-icon icon-333fm"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 One-Handed" class=" cubing-icon icon-333oh"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Pyraminx" class=" cubing-icon icon-pyram"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Skewb" class=" cubing-icon icon-skewb"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Blindfolded" class=" cubing-icon icon-444bf"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="5x5x5 Blindfolded" class=" cubing-icon icon-555bf"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Multi-Blind" class=" cubing-icon icon-333mbf"></span>
                         </td>
                     </tr>
                     <tr>
                         <th scope="row">Apr 6 - 7, 2019</th>
                         <td><a target="_blank" href="https://www.worldcubeassociation.org/competitions/KoalaficationBrisbane2019">Koalafication Brisbane 2019</a></td>
                         <td>Brisbane, Queensland</td>
                         <td>Northside Christian College</td>
                         <td>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Cube" class=" cubing-icon icon-333"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="2x2x2 Cube" class=" cubing-icon icon-222"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Cube" class=" cubing-icon icon-444"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="5x5x5 Cube" class=" cubing-icon icon-555"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="6x6x6 Cube" class=" cubing-icon icon-666"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="7x7x7 Cube" class=" cubing-icon icon-777"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Blindfolded" class=" cubing-icon icon-333bf"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Fewest Moves" class=" cubing-icon icon-333fm"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 One-Handed" class=" cubing-icon icon-333oh"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Megaminx" class=" cubing-icon icon-minx"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Pyraminx" class=" cubing-icon icon-pyram"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Skewb" class=" cubing-icon icon-skewb"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Square-1" class=" cubing-icon icon-sq1"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Blindfolded" class=" cubing-icon icon-444bf"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="5x5x5 Blindfolded" class=" cubing-icon icon-555bf"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Multi-Blind" class=" cubing-icon icon-333mbf"></span>
                         </td>
                     </tr>
                     <tr>
                         <th scope="row">Apr 13 - 14, 2019</th>
                         <td><a target="_blank" href="https://www.worldcubeassociation.org/competitions/KoalaficationCanberra2019">Koalafication Canberra 2019</a></td>
                         <td>Canberra, A.C.T.</td>
                         <td>Gungahlin Lakes Club</td>
                         <td>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Cube" class=" cubing-icon icon-333"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Cube" class=" cubing-icon icon-444"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="5x5x5 Cube" class=" cubing-icon icon-555"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Blindfolded" class=" cubing-icon icon-333bf"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Fewest Moves" class=" cubing-icon icon-333fm"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 One-Handed" class=" cubing-icon icon-333oh"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 With Feet" class=" cubing-icon icon-333ft"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Skewb" class=" cubing-icon icon-skewb"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Square-1" class=" cubing-icon icon-sq1"></span>
                         </td>
                      </tr>
                      <tr>
                          <th scope="row">May 4 2019</th>
                          <td><a target="_blank" href="https://www.worldcubeassociation.org/competitions/KoalaficationAdelaide2019">Koalafication Adelaide 2019</a></td>
                          <td>Adelaide, South Australia</td>
                          <td>Westminster School</td>
                          <td>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Cube" class=" cubing-icon icon-333"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Cube" class=" cubing-icon icon-444"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="5x5x5 Cube" class=" cubing-icon icon-555"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="7x7x7 Cube" class=" cubing-icon icon-777"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Blindfolded" class=" cubing-icon icon-333bf"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 One-Handed" class=" cubing-icon icon-333oh"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="Pyraminx" class=" cubing-icon icon-pyram"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Blindfolded" class=" cubing-icon icon-444bf"></span>
                         </td>
                     </tr>
                     <tr>
                         <th scope="row">May 18 - 19, 2019</th>
                         <td><a target="_blank" href="https://www.worldcubeassociation.org/competitions/KoalaficationMelbourne2019">Koalafication Melbourne 2019</a></td>
                         <td>Melbourne, Victoria</td>
                         <td>Mount St Josephs Girls College</td>
                         <td>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Cube" class=" cubing-icon icon-333"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="2x2x2 Cube" class=" cubing-icon icon-222"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Cube" class=" cubing-icon icon-444"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="5x5x5 Cube" class=" cubing-icon icon-555"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="6x6x6 Cube" class=" cubing-icon icon-666"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="7x7x7 Cube" class=" cubing-icon icon-777"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Blindfolded" class=" cubing-icon icon-333bf"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 One-Handed" class=" cubing-icon icon-333oh"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Clock" class=" cubing-icon icon-clock"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Megaminx" class=" cubing-icon icon-minx"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Pyraminx" class=" cubing-icon icon-pyram"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Skewb" class=" cubing-icon icon-skewb"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="Square-1" class=" cubing-icon icon-sq1"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Blindfolded" class=" cubing-icon icon-444bf"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="5x5x5 Blindfolded" class=" cubing-icon icon-555bf"></span>
                             <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Multi-Blind" class=" cubing-icon icon-333mbf"></span>
                         </td>
                      </tr>
 		      <tr>
			  <th scope="row">May 25 - 26, 2019</th>
                          <td><a target="_blank" href="https://www.worldcubeassociation.org/competitions/KoalaficationPalmy2019">Koalafication Palmy 2019</a></td>
                          <td>Palmerston North, New Zealand</td>
                          <td>Community Leisure Centre</td>
                          <td>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Cube" class=" cubing-icon icon-333"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Cube" class=" cubing-icon icon-444"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="5x5x5 Cube" class=" cubing-icon icon-555"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="6x6x6 Cube" class=" cubing-icon icon-666"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="7x7x7 Cube" class=" cubing-icon icon-777"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Blindfolded" class=" cubing-icon icon-333bf"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 With Feet" class=" cubing-icon icon-333ft"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="Clock" class=" cubing-icon icon-clock"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="Megaminx" class=" cubing-icon icon-minx"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="Square-1" class=" cubing-icon icon-sq1"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Blindfolded" class=" cubing-icon icon-444bf"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="5x5x5 Blindfolded" class=" cubing-icon icon-555bf"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Multi-Blind" class=" cubing-icon icon-333mbf"></span>
                          </td>
                      </tr>
                      <tr>
                          <th scope="row">May 25 - 26, 2019</th>
                          <td><a target="_blank" href="https://www.worldcubeassociation.org/competitions/koalaficationperth2019">Koalafication Perth 2019</a></td>
                          <td>Perth, Western Australia</td>
                          <td>Woodvale Secondary College</td>
                          <td>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Cube" class=" cubing-icon icon-333"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="2x2x2 Cube" class=" cubing-icon icon-222"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="4x4x4 Cube" class=" cubing-icon icon-444"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="5x5x5 Cube" class=" cubing-icon icon-555"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="6x6x6 Cube" class=" cubing-icon icon-666"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="7x7x7 Cube" class=" cubing-icon icon-777"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Blindfolded" class=" cubing-icon icon-333bf"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 One-Handed" class=" cubing-icon icon-333oh"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="Megaminx" class=" cubing-icon icon-minx"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="Pyraminx" class=" cubing-icon icon-pyram"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="Skewb" class=" cubing-icon icon-skewb"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="Square-1" class=" cubing-icon icon-sq1"></span>
                              <span data-toggle="tooltip" data-placement="top" data-container="body" title="3x3x3 Multi-Blind" class=" cubing-icon icon-333mbf"></span>
                          </td>
                          </tr>
                         </td>
                     </tr>
                 </tbody>
            </table>
        </div>
    </div>
</div>


-->
