<div class="row">
    <div class="col-xs-12">

        <h2 class="page-title">News</h2>

        {{FOR(news)}}
        <div class="row news">
            <div class="col-xs-12">
                <div class="news-header">
                    <h3 class="text-info" style="margin-bottom: 0;">{{title}}</h3>
                    <small style="color:gray;">
                        <span class="glyphicon glyphicon-calendar"></span> {{date}} &nbsp;
                        <span class="glyphicon glyphicon-user"></span> {{name}} &nbsp;
                    </small>
                </div>
                <p></p>
                <div class="news-body">
                    {{body|md}}
                </div>
            </div>
        </div>
        {{ENDFOR()}}

    </div>
</div>
<br>