        <div class="row">
            <div class="col-xs-12">

                <h2 class="page-title">{{formTitle}}</h2>

                {{md_instructions|raw}}

                {{form|raw}}

                <br>
                <a class="btn btn-default" href="{{link}}{{version-language}}/admin">
                    <span class="glyphicon glyphicon-home"></span> Admin
                </a>
                <a class="btn btn-default" href="{{link}}{{version-language}}/admin/news">
                    <span class="glyphicon glyphicon-chevron-left"></span> News
                </a>

            </div>
        </div>
        <br>