        <div class="row">
            <div class="col-md-12">

                <h2 class="text-info" style="margin-bottom: 20px;">Editar Perfil</h2>
                <h3>Datos</h3>
                {{form|raw}}

                <h3>Clave</h3>
                <button class="btn btn-primary" onclick="document.location='{{link}}panel/clave'">Cambiar Mi Clave</button>

                <p></p>
                <button class="btn btn-sm btn-default" onclick="document.location='{{link}}panel'"><span class="glyphicon glyphicon-home"></span> Mi Panel</button><br>

            </div>
        </div>