        <div class="row">
            {{IF(auth_role>0)}}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h2 class="text-info">Noticias</h2>
                Da acceso a la edición de noticias que se ven en la portada de la web.<br>
                <button class="btn btn-primary" onclick="document.location='{{link}}admin/noticias'">Editar Noticias...</button>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h2 class="text-info">Socios</h2>
                Para editar los socios y añadir nuevos.<br>
                <button class="btn btn-primary" onclick="document.location='{{link}}admin/socios'">Editar Socios...</button>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h2 class="text-info">Competiciones</h2>
                Para editar las competiciones y añadir nuevas.<br>
                <button class="btn btn-primary" onclick="document.location='{{link}}admin/competiciones'">Editar Competiciones...</button>
            </div>
            {{ENDIF()}}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h2 class="text-info">Perfil</h2>
                Para editar tus datos personales o tu clave de acceso.<br>
                <button class="btn btn-primary" onclick="document.location='{{link}}panel/perfil'">Editar Mi Perfil...</button>
            </div>
            {{IF(auth_role>0)}}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h2 class="text-info">Borrar cachés</h2>
                Sólo para el webmaster después de hacer actualizaciones en la página.<br>
                <button class="btn btn-warning" onclick="deleteCaches();">Borrar cachés</button>
            </div>
            {{ENDIF()}}
        </div>

        <script>

            function deleteCaches()
            {
                $.ajax({
                    url: "{{link}}ajax/deletecaches"
                }).done(function(data) {
                    alert(data);
                });
            }

        </script>