<div class="row">
    <div class="col-xs-12">
        <h2 class="page-title">Registration</h2>
        <p>
            In order for you to manage your registration and everything related to WCA World Championship 2019, we have
            prepared a personal page for you: <strong>myWorlds</strong>! The access to this section of our
            website is a bit special. So, if you are ready to join WCA World Championship 2019, click the button below:
        </p>
        <a href="{{link}}{{version-language}}/myworlds/access/" class="btn btn-primary">Learn more about <strong>myWorlds</strong>!</a>
        <h2>Registration fees</h2>
        <table class="table staff-vote-table">
            <thead>
                <tr>
                    <th>Event</th>
                    {{FOR(frames)}}<th class="c">Until {{date}}</th>{{ENDFOR()}}
                </tr>
            </thead>
            <tbody>
            {{FOR(events)}}
                <tr>
                    <td>{{name}}</td>
                    <td class="c{{IF(activePricing=A)}} active-pricing{{ENDIF()}}">${{priceA}}</td>
                    <td class="c{{IF(activePricing=B)}} active-pricing{{ENDIF()}}">${{priceB}}</td>
                    <td class="c{{IF(activePricing=C)}} active-pricing{{ENDIF()}}">${{priceC}}</td>
                </tr>
            {{ENDFOR()}}
            </tbody>
        </table>
        <p>
            More about our policies in
            <a href="{{link}}{{version-language}}/myworlds/access/" class="btn btn-primary"><strong>myWorlds</strong></a>
        </p>
    </div>
</div>
