<div class="row">
    <div class="col-xs-12">
        <h2 class="page-title">Tickets</h2>

        <h2>Companion tickets</h2>
        <p>
            Competitors can buy companion tickets for guests attending the competition
			with them. Each competitor is allowed two 4-day companion tickets for
			<strong>10 AUD</strong> each. Spectators and additional guests will be able
			to purchase tickets at the door at the prices below.
        </p>
	<!--<p>
	Companion tickets will be available through <b><a href="/en/myworlds" target="_blank">myWorlds</a></b>  from <b>February 11, 2019 at 10:00 am AEDT (UTC+11:00)!</b>
	</p>-->
        <div class="alert alert-success">
            The pre-sale of companion tickets is now available on <a href="{{link}}en/myworlds/access"><strong>myWorlds</strong></a>
            only for those already registered as competitors until <strong>Sunday 30<sup>th</sup> June 2019 at 23:59 AEST (UTC+10)</strong>
        </div>
    </div>
    <div class="col-xs-12">
        <h2>Spectator tickets</h2>
        <p>
            Spectators and additional guests can buy tickets at the event box office
			on competition days at the following prices:
        </p>
        <ul class="ul">
            <li>4-day adult ticket: <strong>20 AUD</strong></li>
            <li>4-day child (under 16) ticket: <strong>10 AUD</strong></li>
			<li>1-day adult ticket: <strong>10 AUD</strong></li>
            <li>1-day child (under 16) ticket: <strong>5 AUD</strong></li>
            <li>All children under 6: <strong>free</strong></li>
        </ul>
        <p>
            Only cash payments will be accepted. All children under 16 years old must be supervised by
			an adult.
        </p>
    </div>
</div>
<br>
