<div class="row">
    <div class="col-xs-12">
        <h2 class="page-title">City Information</h2>
        <p>Melbourne is the capital and most populous city of the state of Victoria, Australia, and is proud to host
 Rubik’s presents WCA World Championship 2019. You can discover more about the experiences you can have while visiting
 the city <a href="http://bit.ly/2AmWtVl" target="_blank">via our partners at the Melbourne Convention Bureau.</a></p>
        <br>
        <a href="http://bit.ly/2AmWtVl" target="_blank">
            <picture>
                <source media="(min-width: 576px)" srcset="/img/MCB728.gif">
                <img src="/img/MCBrectangle.gif" style="max-width:100%; margin-left:auto; margin-right:auto; display:block;"/>
            </picture>
        </a>
    </div>
</div>
<br>
<div class="row">
   <div class="col-xs-12">
      <h2 class="page-title">Getting There</h2>
   </div>
</div>
<div class="row">
   <div class="col-xs-12 col-sm-4">
       <a href="https://www.qantas.com/au/en.html" target="_blank">
           <picture>
               <source media="(min-width: 576px)" srcset="/img/qantas.png" style="width:30%;">
               <img src="/img/qantas.png" style="width:100%; margin-top: 30px; margin-bottom: 30px; margin-left:auto; margin-right:auto; display:block;"/
           </picture>
       </a>
       <br>
   </div>
   <div class="col-xs-12 col-sm-8">
      <h2>Official Airline Partner</h2>
      <p>Qantas is delighted to be the exclusive airline partner for the 2019 WCA World Championship being held in Melbourne.
         Qantas is offering registered competitors and travel partners special discounted airfares which are easily booked
         online via the dedicated booking portal on your conference registration travel page. When booking, use the
         allocated code to access these airfares. Please note: multiple stopover flights are excluded from this offer.</p>
      <p>Qantas is Australia’s largest domestic and international airline and is widely regarded as the world’s leading
         long distance airline. With a reputation for excellence in safety, operational reliability, and world-class customer
         service; Qantas offers a truly global network proposition for competitors travelling to Melbourne for the WCA World Championship in 2019.</p>
      <p><strong>Access code: WCA19</strong></p>
      <p>Sales dates: 24 January 2019 to 14 July 2019</p>
      <p>Travel period: 11 June 2019 to 13 August 2019</p>
      <a target="_blank" href="https://www.qantas.com/travel/airlines/pfs-r-rubiks-presents-wca-world-championship-2019/global/en" class="btn btn-secondary btn-lg" role="button" style="color:#eee;background-color:#6c757d">Book Flights</a>  
   </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2 class="page-title">Transportation</h2>
        <h2>Venue</h2>
        <p>
            The main competition room is the Plenary at the Melbourne Convention and Exhibition Centre. There are also rooms for side events and relaxing within the venue.
	    <br>
            The Plenary is located within the Convention Centre.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <img style="margin-bottom:10px;" src="/img/mcec_tram.jpg" width="100%;" frameborder="0" style="border:0" allowfullscreen>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
        <p style="margin-bottom: 0">
            <strong>Address</strong>: 1 Convention Centre Place, South Wharf.<br>
            <strong>Public Transportation</strong>: The Melbourne Convention and Exhibition Centre is located in the heart of Melbourne's South Wharf.
            <br><br>
            <span class="label metro-stop" style="margin-right:10px;">Train</span>   The closest train stations are Southern Cross station (9 minute walk), and Flinders Street station (12 minute walk).
			<br>
			<br>
			<span class="label metro-stop" style="margin-right:10px;">Tram on Clarendon</span>   Tram routes 96, 109 and 12 (Stop 124A Casino/MCEC) will all take you to the Clarendon Street entrance of the centre.
			<br>
			<br>
			<span class="label metro-stop" style="margin-right:10px;">Tram on Flinders</span>Tram routes 48 and 70 (Stop D5) take you to Flinders Street, a short walk away from the venue.
			<br>
        </p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <h2>Airport Connection</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <iframe width="100%" height="250" id="gmap_canvas" src="https://maps.google.com/maps?q=melbourne%20airport&t=&z=9&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="10px" marginwidth="0"></iframe>
    </div>
    <div class="col-xs-12 col-sm-6">
        <p>
            <a href="https://www.melbourneairport.com.au/" target="_blank">Melbourne Airport</a>
            is located approximately 25 kilometres North-West of the city. The cheapest way to travel to the city is via the <a href="https://www.skybus.com.au/" target="_blank">SkyBus</a>, which departs frequently all 24 hours of the day. A one-way ticket costs 19.50 AUD.
			The SkyBus runs from the airport to Southern Cross railway station, which is only a 10 minute walk from the competition venue and surrounding areas.
		<br>
        </p>
        <p style="margin-bottom: 0">
			<span class="label metro-stop" style="margin-right:10px;">Taxi and Uber</span><br><br>           
			If you’re arriving with a group of three or more people, it may be more cost-effective to take a taxi or Uber. A ride from the airport to the city normally costs between 50 AUD and 65 AUD depending on the time of day.
        </p>

    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <h2>General Travel Information</h2>
        <ul class="ul">
            <li>
               Public transport within Melbourne is run by <a href="https://www.ptv.vic.gov.au/getting-around/visiting-melbourne/" target="_blank">PTV.</a> Travel on trains, trams, and buses in the city require the use of a myki card.
            </li>
            <li>
                There is also an extensive <a href="https://static.ptv.vic.gov.au/siteassets/PDFs/Maps/Network-maps/PTV_FreeTramZone_Map.pdf" target="_blank">free tram zone</a> within the Melbourne CBD, which does not require a myki card.
            </li>
            <li>
                The Melbourne Convention and Exhibition Centre tram stop (Stop 124A Casino/MCEC) is located one stop outside this free zone from the direction of the city.
            </li>
        </ul>
        <br>
     </div>
</div>
<div class="row">
   <div class="col-xs-12">
      <h2>Visa Information</h2>
      <ul class="ul">
         <li>For information regarding visas please refer to <a target="_blank" href="https://immi.homeaffairs.gov.au/visas/getting-a-visa/visa-finder">The Department of Home Affairs.</a></li>
      </ul>
      <br>
   </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2 class="page-title">Packages and Services</h2>
<!--<p>
<h3>Watch this space for exciting partnerships and services to assist you in your travel planning!</h3>
</p>--> 
   </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <a href="https://www.flightcentre.com.au/" target="_blank">
            <picture>
                <source media="(min-width: 576px)" srcset="/img/fctg2.jpg" style="width:30%;">
                <img src="/img/fctg2.jpg" style="width:100%; margin-top: 30px; margin-bottom: 30px; margin-left:auto; margin-right:auto; display:block;"/>
            </picture>
        </a>
        <br>
    </div>
    <div class="col-xs-12 col-sm-8">
        <p>We have partnered with <strong>Flight Centre Australia</strong> to help arrange all your travel needs once you’re in Australia (or if you already live here!), with some of these fantastic benefits:</p>
        <ul class="ul">
            <li>Group <strong>discount</strong> rates even if you book as an individual or family group</li>
            <li>A selection of 3, 4 and 5 star hotels <strong>close to</strong> the competition venue</li>
            <li>Option of a <strong>Cubing Down Under</strong> tour that can include competitions in Wellington, Canberra and Sydney prior to coming to Melbourne</li>
            <li>Transfers from the airport to your hotel and from the hotel to the competition venue</li>
            <li>Optional <strong>tours</strong> of Melbourne, Victoria or other parts of Australia before or after the competition</li>
            <li>The opportunity to travel with and stay with other <strong>cubers</strong> from around the world</li>
        </ul>
        <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfRW18qkKWyM5irkgnr9sheLDXXwmj1rf9IkL3JWXtnm0mwQA/viewform" target="_blank">Click here</a> to register your interest!</p>
        <br>
    </div>
</div>
<br>
