<div class="row">
    <div class="col-xs-12">
        <h2 class="page-title">Travel</h2>
        <h2>Venue</h2>
        <p>
            The competition will be held at <a href="http://www.madrid-destino.com/es/espacios-y-eventos/instalaciones/pabellon-multiusos-i" target="_blank">
            Pabellón Multiusos 1</a> of <strong>Madrid Arena</strong>.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1518.9061313459842!2d-3.739308808101195!3d40.41300957926427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4227fe4d9dd365%3A0xfcb3f259fb3eed85!2sMulti-use+Pavilion+Madrid+Arena!5e0!3m2!1sen!2ses!4v1516046349450" width="100%" height="280" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
        <p style="margin-bottom: 0">
            <strong>Address</strong>: Avda. de Portugal s/n<br>
            <strong>Nearest metro stop</strong>: <span class="label metro-stop">Lago</span> <span class="label label-primary">Línea 10</span><br>
            <strong>Set-up</strong>:
        </p>
        <ul class="ul">
            <li>Main entrance: second floor</li>
            <li>Bleachers: first floor</li>
            <li>Competition and chilling area: Arena ground floor</li>
            <li>Concentration rooms (FM, 4BLD, 5BLD, MBLD): rooms in ground floor</li>
            <li>Fun Zone: second floor</li>
            <li>Bar / Restaurant: first floor</li>
            <li>Toilet: ground floor</li>
        </ul>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <h2>Transportation</h2>
        <p>
            <strong>Nearest airport</strong>: <a href="http://www.aeropuertomadrid-barajas.com/" target="_blank">Aeropuerto Madrid Barajas Adolfo Suárez</a>,
            21 km from Madrid Arena.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <p>
            <strong>Public transportation</strong>: <a href="https://www.metromadrid.es/" target="_blank">Metro</a>
            is the cheapest, fastest and most comfortable transportation method in Madrid. The connection the airport
            to Madrid Arena is done
            through metro <span class="label metro8">Línea 8</span> with a transfer at
            <span class="label metro-stop">Nuevos Ministerios</span>
            to metro <span class="label label-primary">Línea 10</span> until
            <span class="label metro-stop">Lago</span> in 45 minutes.<br>
        </p>
        <p style="margin-bottom: 0">
            <strong>Other public transportation options</strong>:
        </p>
        <ul class="ul">
            <li>
                <a href="http://www.renfe.com/viajeros/cercanias/madrid/index.html" target="_blank">Commuter train (RENFE)</a>
            </li>
            <li>
                <a href="http://www.emtmadrid.es/" target="_blank">Urban bus (EMT)</a>
            </li>
            <li>
                Taxi / Uber / Cabify<br>
                <small>Cabify is the Spanish alternative to Uber. Try it!</small>
            </li>
        </ul>

    </div>
    <div class="col-xs-12 col-sm-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d97155.43999777902!2d-3.7253362465673137!3d40.45075761068171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e3!4m5!1s0xd422e0f243c1589%3A0xeaa1e6620c147cdb!2sAeropuerto+T4%2C+Madrid!3m2!1d40.4917613!2d-3.5935536999999997!4m5!1s0xd4227fe4d9dd365%3A0xfcb3f259fb3eed85!2sPabell%C3%B3n+Multiusos+Madrid+Arena%2C+Avenida+de+Portugal%2C+Madrid!3m2!1d40.413009599999995!2d-3.7382090999999997!5e0!3m2!1sen!2ses!4v1516038121330" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <h2>Some tips for getting around Madrid</h2>
        <ul class="ul">
            <li>
                <a href="https://www.esmadrid.com/abono-turistico-de-transporte-madrid" target="_blank">Abono turístico de transporte</a>
                (Touristy transportation bonus).
                If you or your family are going to visit the city, the "Abono turístico de transporte"
                <span class="label label-success">Zona A</span> includes the whole city and the airport,
                and it’s the best option for you.
            </li>
            <li>
                If you are not going to travel a lot from the competition venue, the
                booklet of 10 metro tickets at €12,20 is the best option for you. It can be shared
                with others and rechargeable in a "Tarjeta multi"
                available at all the metro stations.
            </li>
            <li>
                To visit the city center from the competition area, the best option is to travel using metro
                <span class="label label-primary">Línea 10</span> from <span class="label metro-stop">Lago</span>
                to <span class="label metro-stop">Plaza de España</span>.
            </li>
            <li>
                Metro working hours: 6:00 - 1:30.
            </li>
            <li>
                There’s also a night bus service departing from
                <span class="label metro-stop">Plaza de Cibeles</span>.
            </li>
        </ul>
        <br>
        <h2>Apps</h2>
        <p style="margin-bottom: 0">
            Here you are some apps that you can install onto your phone to make your trip easier:
        </p>
        <table class="apps">
            <tr>
                <td><h4>Madrid Metro</h4></td>
                <td>
                    <a href='https://play.google.com/store/apps/details?id=es.metromadrid.metroandroid'>
                        <img alt='Get it on Google Play' height="30" src='{{file}}img/en_android_badge.png'/>
                    </a>
                </td>
                <td>
                    <a href='https://itunes.apple.com/es/app/metro-de-madrid-oficial/id481638277?mt=8'>
                        <img alt='Download on the App Store' height="30" src='{{file}}img/en_ios_badge.svg'/>
                    </a>
                </td>
            </tr>
            <tr>
                <td><h4>Urban bus (EMT)</h4></td>
                <td>
                    <a href='https://play.google.com/store/apps/details?id=com.emtmadrid.emt'>
                        <img alt='Get it on Google Play' height="30" src='{{file}}img/en_android_badge.png'/>
                    </a>
                </td>
                <td>
                    <a href='https://itunes.apple.com/es/app/emt-madrid/id332237215?mt=8'>
                        <img alt='Download on the App Store' height="30" src='{{file}}img/en_ios_badge.svg'/>
                    </a>
                </td>
            </tr>
            <tr>
                <td><h4>Commute trains (RENFE)</h4></td>
                <td>
                    <a href='https://play.google.com/store/apps/details?id=com.renfe.renfecercanias'>
                        <img alt='Get it on Google Play' height="30" src='{{file}}img/en_android_badge.png'/>
                    </a>
                </td>
                <td>
                    <a href='https://itunes.apple.com/es/app/renfe-cercanias/id953441960?mt=8'>
                        <img alt='Download on the App Store' height="30" src='{{file}}img/en_ios_badge.svg'/>
                    </a>
                </td>
            </tr>
            <tr>
                <td><h4>Cabify</h4></td>
                <td>
                    <a href='https://play.google.com/store/apps/details?id=com.cabify.rider'>
                        <img alt='Get it on Google Play' height="30" src='{{file}}img/en_android_badge.png'/>
                    </a>
                </td>
                <td>
                    <a href='https://itunes.apple.com/us/app/cabify/id476087442?mt=8'>
                        <img alt='Download on the App Store' height="30" src='{{file}}img/en_ios_badge.svg'/>
                    </a>
                </td>
            </tr>
            <tr>
                <td><h4>Uber</h4></td>
                <td>
                    <a href='https://play.google.com/store/apps/details?id=com.ubercab'>
                        <img alt='Get it on Google Play' height="30" src='{{file}}img/en_android_badge.png'/>
                    </a>
                </td>
                <td>
                    <a href='https://itunes.apple.com/us/app/uber/id368677368?mt=8'>
                        <img alt='Download on the App Store' height="30" src='{{file}}img/en_ios_badge.svg'/>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
<br>