<p>
    <a href="{{link}}"><img src="{{file}}img/logo-email.png" height="100px;"></a>
</p>
<p>
    Dear {{name}},
</p>
<p>
    We regret to inform you that your application for WCA World Championship 2019 staff member has not been successful and appreciate you offering of your time.
</p>
<p>    
    Staff selection is carefully considered and takes into account several factors, including past experience, availability and Delegate recommendations.
</p>
<p>
    Please visit <a href="{{link}}myworlds">myWorlds</a>
    to add the events you want to compete in as a regular competitor
    and complete the payment to register for WCA World Championship 2019,
    if you haven't done so already.
</p>
<p>
    Don't hesitate in contacting us if you think this is an error. However, please do not re-apply to be a staff member unless you are told to do so via email from the WC2019 Organisation Team.
</p>
<p>
    Regards,<br>
    WC2019 Organisation Team
</p>
