<p>
    <a href="{{link}}"><img src="{{file}}img/logo-email.png" height="100px;"></a>
</p>
<p>
    Dear {{name}},
</p>
<p>
    Now that the registration period for <b>Rubik's presents WCA World Championship 2019</b> is over,
    and according to our reimbursement policies,
    we reach out to you to inform you that we have proceeded to reimburse you <strong>AUD{{refund}}</strong>.
</p>
<p>
    The money has been refunded to the card you used for the payment.
    You will be able to see the refund in your card in approximately 5-10 business days.
</p>
<p>
    Should you have any questions, please feel free to reply this email.<br>
    Happy cubing!
</p>
<p>
    WC2019 Organnisation Team
</p>
