<p>
    <a href="{{link}}"><img src="{{file}}img/logo-email.png" height="100px;"></a>
</p>
<p>
    Dear {{name}},
</p>
<p>
    Unfortunately, your status as Staff member for WCA World Championship 2019 has been removed.
    Accordingly, your registration under special terms is no longer available, and we have therefore
    <strong>removed all the events you were registered to</strong>.
    Please visit <a href="{{link}}myworlds">myWorlds</a>
    to add and pay for the events you want to compete in as a regular competitor.
</p>
<p>
    Don't hesitate in contacting us if you think this is an error.
</p>
<p>
    Regards,<br>
    WC2019 Organisation Team
</p>
