<p>
    <a href="{{link}}"><img src="{{file}}img/logo-email.png" height="100px;"></a>
</p>
<p>
    Dear {{name}},
</p>
<p>
    Congratulations! You have registered for <a href="{{link}}"><b>Rubik's presents WCA World Championship 2019</b></a>.<br/><br/>
    Please check the <a href="{{link}}competitors">Competitors section</a> of our website. If your name does not appear immediately, please be patient as your registration may take some time to process. Feel free to <a href="{{link}}contact">contact us</a> if your name does not appear within 48 hours.<br/>
</p>
<p>
    We look forward to seeing you in Melbourne in July 11-14 this year!
</p>
<p>
    WC2019 Organisation Team
</p>
